body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  
}

/** HEADER **/
#header-nav {
  background-color: #66a3ff;
  border-radius: 0;
  border: 0;
 

}
#header-nav1 {
  background-color: #8533ff;
  border-radius: 0;
  border: 0;
  

}
#header-nav2 {
  background-color: #66a3ff;
  border-radius: 0;
  border: 0;

}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* My Name */
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Information */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon{
  border: 1px solid #8533ff;
}
.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -30px;
}

    




/* END HEADER */
#active{
  box-shadow: 0 1px 5px 1px #cccccc;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-9 {width: 40%; height: 18px; background-color: #66a3ff;}
.bar-8 {width: 50%; height: 18px; background-color: #66a3ff;}
.bar-7 {width: 70%; height: 18px; background-color: #66a3ff;}
.bar-6 {width: 50%; height: 18px; background-color: #66a3ff;}
.bar-5 {width: 40%; height: 18px; background-color: #66a3ff;}
.bar-4 {width: 70%; height: 18px; background-color: #66a3ff;}
.bar-3 {width: 70%; height: 18px; background-color: #66a3ff;}
.bar-2 {width: 80%; height: 18px; background-color: #66a3ff;}
.bar-1 {width: 30%; height: 18px; background-color: #66a3ff;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}
  /* Hide the right column on small screens */
  


/* Footer */

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #b3d1ff;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
  color: black;
}
#contact, #email-address {
  line-height: 2;
}
#contact > span, #email-address > span {
  font-size: 1.3em;
}


#quote {
  font-style: italic;
}

.fa {
  padding: 20px;
  font-size: 10px;
  width: 22px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  margin: 3px 8px;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.5;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  text-align: center;
  
  padding-left: 10px;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
  text-align: center;
  padding-left: 10px;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  text-align: center;
  padding-left: 10px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  #header-nav1 div{
    text-align:center;
    position: absolute;
    top:50%;
    left:50%;
  }
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #8533ff;
  
 

}
.navbar-header button.navbar-toggle {
  clear: both;
  
}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #header-nav2 p{
    display: block;
    text-align:center;
  }
  /* End Header */.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #8533ff;
  
 

}
.navbar-header button.navbar-toggle {
  clear: both;
  
}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #8533ff;
  }
.navbar-header button.navbar-toggle {
  clear: both;
  
}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #header-nav2 p{
    text-align:center;
  }
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* Icon-Bar */
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #8533ff;
  
 

}
.navbar-header button.navbar-toggle {
  clear: both;
  
}


  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}
/* End Footer */
/* About */
